<div class="side_header">
  <div class="user-name">
    <a href="#">Jerry</a>
  </div>
  <div class="create-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side_main">
  <div class="side_room">
    <a href="#">chatroom1</a>
    <a href="#">chatroom2</a>
  </div>
</div>