.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  height: 100vh;
}
.chat {
  width: calc(100vw - 300px);
}

.side_header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-chat a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}


.side_main {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.side_room a {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  text-decoration: none;
  color: white;
}

.chat_header {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
}

.chat_main {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.chat_fooder {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}


